package views

templ AboutWebsite(text string) {
    @Layout("About this website | Creator Coaster") {
        <div class="free-area-for-text">
            <div class="text-div">
                @templ.Raw(text)
            </div>
        </div>
    }
}