package views

import "github.com/VOVOplay/creatorcoaster.com/src/myTypes"

templ AboutUs(aboutUsText string, staffList []myTypes.StaffMember) {
    @Layout("About Us | Creator Coaster") {
        <div id="main-about-us-container">
            <h1 class="md-heading">About Us</h1>
            
            @templ.Raw(aboutUsText)

            <h1 class="md-heading">Meet the team</h1>
            <div id="team-member-cards-container">
            for _, staffMember := range staffList {
                <div class="team-member-card">
                    <img src={ staffMember.ProfilePictureLink }>
                    <span class="username">{ staffMember.Username }</span>
                    <span class="role"> { staffMember.PositionPrettyName } </span>
                </div>
            }
            </div>
        </div>
    }
}