package views

templ AdminLoggedInView() {
    Hi <a href="/auth/discord/logout">log out</a>
}

templ Admin(loggedIn bool) {
    @Layout("Admin | Creator Coaster") {
        if !loggedIn {
            <a href="https://discord.com/oauth2/authorize?client_id=1478409762042413126&response_type=code&redirect_uri=http%3A%2F%2F127.0.0.1%3A7331%2Fauth%2Fdiscord%2Fcallback&scope=identify">Log in</a>
        } else {
            @AdminLoggedInView()
        }
    }    
}