package views

import "github.com/VOVOplay/creatorcoaster.com/src/myTypes"
import "time"
import "fmt"

func formatUnixTime(unixTime int64) string {
    tm := time.Unix(unixTime, 0)

    date := fmt.Sprintf("%v %v, %v", tm.Month(), tm.Day(), tm.Year())

    return date
}

templ WikiArticleInfo(info myTypes.ArticleInfo) {
    <div class="article-info">
        Last modified: { formatUnixTime(info.Date) }
    </div>
}

templ BlogArticleInfo(info myTypes.ArticleInfo) {
    <div class="blog-article-info">
        <div class="used-area">
            <div class="author-section">
                <img src={ info.AuthorPFPLink }>{ info.Author }
            </div>
            <div class="date-section">
                { formatUnixTime(info.Date) }
            </div>
        </div>
    </div>
}

templ GenericArticle(article myTypes.Article) {
    <h1 class="article-main-heading">{ article.PrettyName }</h1>
    if article.Type == myTypes.WikiArticle {
        @WikiArticleInfo(article.Info)
    } else {
        @BlogArticleInfo(article.Info)
    }
    @templ.Raw(article.HTML)
    
}