package views

import "github.com/VOVOplay/creatorcoaster.com/src/myTypes"


templ WikiArticleInfo(info myTypes.Article) {
    // Last Modified: X, ignore author
}

templ BlogArticleInfo(info myTypes.Article) {
    // Date: X, Author: Y
}

templ GenericArticle(article myTypes.Article) {
    <p>Article-specific info, stuff like author and date</p>

    @templ.Raw(article.HTML)
}