package views

import "github.com/VOVOplay/creatorcoaster.com/src/myTypes"


templ WikiArticleInfo(info myTypes.ArticleInfo) {
    <div class="article-info">
        Last modified: { info.Date }
    </div>
}

templ BlogArticleInfo(info myTypes.ArticleInfo) {
    // Date: X, Author: Y
}

templ GenericArticle(article myTypes.Article) {
    <h1 class="article-main-heading">Test</h1>
    @WikiArticleInfo(article.Info)
    @templ.Raw(article.HTML)
    
}