package views

import "fmt"

templ GenericTextPage(text string, pageName string) {
    @Layout(fmt.Sprintf("%v | Creator Coaster", pageName)) {
        <div class="free-area-for-text">
            <div class="text-div">
                @templ.Raw(text)
            </div>
        </div>
    }
}