package views

templ Home() {
    @Layout("Creator Coaster") {
        <p>HTML</p>
        <p>HTML</p>
        <p>HTML</p>
        <p>HTML</p>
        <p>HTML</p>
        <p>HTML</p>
        <p>HTML</p>
        <p>HTML</p>
        <p>HTML</p>
        <p>HTML</p>
        <p>HTML</p>
        <p>HTML</p>
        <p>HTML</p>
    }
}