package views

templ Home() {
    @Layout("Creator Coaster") {
        <div class="fill-screen-div">
            <div id="home-page-section">
                <img src="https://images.creatorcoaster.com/cc-animated-logo-circle.gif">
                <h1>Creator Coaster</h1>
                <p>Bringing the content to you.</p>
                <a href="https://discord.com/invite/creatorcoaster"><button class="discord-button">Join Discord</button></a>
                <div class="other-buttons">
                    <a href="/wiki"><button>Wiki</button></a>
                    <a href="/blog"><button>Blog</button></a>
                </div>
            </div>
        </div>
    }
}