package views

templ Layout(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<title>{ title }</title>
			<script src="https://unpkg.com/htmx.org@1.9.12"></script>
			<link rel="stylesheet" href="/static/style.css">
			<link rel="icon" type="image/png" href="https://images.creatorcoaster.com/cc-logo-circle.png">
		</head>
		<body>
			<nav>
			<a href="/"><img class="nav-image" src="https://images.creatorcoaster.com/cc-logo-circle.png"></a>
			<a href="/">Home</a>
			<a href="/blogs">Blogs</a>
			<a href="/wiki">Wiki</a>
			<a href="/about">About Us</a>
		</nav>
		<main>
			{ children... }
		</main>
		<footer>
			<div id="footer-links">
				<div class="footer-link-icon">
					<a href="https://discord.com/invite/creatorcoaster"><img src="/static/assets/discord-logo.svg"></a>
				</div>
				<div class="footer-link-icon">
					<a href="https://ko-fi.com/creatorcoaster/shop"><img src="/static/assets/kofi-logo.svg"></a>
				</div>
				<div class="footer-link-icon">
					<a href="https://www.youtube.com/@creatorcoaster"><img src="/static/assets/youtube-logo.svg"></a>
				</div>
				<div class="footer-link-icon">
					<a href="https://github.com/vovoplay/creatorcoaster.com"><img src="/static/assets/github-logo.svg"></a>
				</div>
			</div>
			<p id="small-footer-text">Made with ❤️ by <a href="https://vovoplay.dev/">vovoplay</a></p>
		</footer>
		</body>
	</html>
}