package views

templ Layout(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>{ title }</title>
			<script src="https://unpkg.com/htmx.org@1.9.12"></script>
			<script src="https://unpkg.com/htmx.org/dist/ext/preload.js"></script>
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Geist+Pixel:ELSH@0..100&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
			<link rel="stylesheet" href="/static/style.css">
			<link rel="icon" type="image/png" href="https://images.creatorcoaster.com/cc-logo-circle.png">
		</head>
		<body hx-ext="preload">
		<nav>
			<a href="/"><img class="nav-image" src="https://images.creatorcoaster.com/cc-logo-circle.png"></a>
			<a href="/">Home</a>
			<a href="/wiki">Wiki</a>
			<a href="/blogs">Blogs</a>
			<a href="/about">About Us</a>
			<a href="/test_text">test_text</a>
		</nav>
		<main>
			{ children... }
		</main>
		<footer>
			<div id="footer-links">
				<div class="footer-link-icon">
					<a href="https://discord.com/invite/creatorcoaster" target="_blank"><img src="/static/assets/discord-logo.svg"></a>
				</div>
				<div class="footer-link-icon">
					<a href="https://ko-fi.com/creatorcoaster/shop" target="_blank"><img src="/static/assets/kofi-logo.svg"></a>
				</div>
				<div class="footer-link-icon">
					<a href="https://www.youtube.com/@creatorcoaster" target="_blank"><img src="/static/assets/youtube-logo.svg"></a>
				</div>
				<div class="footer-link-icon">
					<a href="https://github.com/vovoplay/creatorcoaster.com" target="_blank"><img src="/static/assets/github-logo.svg"></a>
				</div>
			</div>
			<p class="small-footer-text">Made with ❤️ by <a href="https://vovoplay.dev/" target="_blank">vovoplay</a></p>
		</footer>
		</body>
	</html>
}