package views

import "github.com/VOVOplay/creatorcoaster.com/src/myTypes"

templ SpecificBlogView(blog myTypes.Article) {
    @Layout("Blogs | Creator Coaster") {
        <div class="free-area-for-text">
            <div class="text-div">
                @GenericArticle(blog)
                <div class="button-holder">
                    <a href="/blog/"><button>Read More</button></a>
                </div> 
            </div>
        </div>
    }
}