package views

import "fmt"
import "github.com/VOVOplay/creatorcoaster.com/src/myTypes"

templ WikiLayout(article myTypes.Article) {
    @Layout(fmt.Sprintf("%v | Creator Coaster", article.PrettyName)) {
        <div class="wiki-container">
            <div class="sidebar">

            </div>
            <div class="free-wiki-area">
                <div class="text-div">
                    @GenericArticle(article)
                </div>
            </div>
            
        </div>
        
    }
}